@font-face {
    font-family: "oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "courgette";
    src: url("../fonts/Courgette-Regular.ttf");
}


/*************** HEADER *****************/

.image {
    background-position: center;
    background-size: cover;
}

.logo {
    height: 100px;
    width: 100px;
}

.navbar {
    border: 1px solid white;
    background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45))
}

.navbar-brand, .title-header {
    font-family: "courgette";
}

.nav-link {
    font-family: "oswald";
}

.header-container{
    height: 400px;
    background:linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}


/**************** MAIN ******************/

.form button{
    width: 100%;
}

.main-title {
    font-family: "courgette";
}

.form-text {
    font-family: "oswald";
}

.form a {
    color: black;
}



/*************** FOOTER *****************/

footer {
    background: black;
    color: white;
}

footer a {
    color: white;
}

.footer-title {
    font-family: "courgette";
}

footer a, a:hover {
    font-family: "oswald";
    color: white;
}

footer i {
    color: white;
}