@font-face {
    font-family: "oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "courgette";
    src: url("../fonts/Courgette-Regular.ttf");
}

/*************** HEADER ****************/

.image {
    background-image: url("../img/articles/suzette/suzette-header.jpg");
}

/**************** MAIN *****************/

.autor-img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

main h2 {
    font-family: "courgette";
}

main h5 {
    font-family: "courgette";
}

main p {
    font-family: "oswald";
    color: gray;
}

main label {
    font-family: "courgette";
}

.initial::first-letter {
    float:left;
    line-height:0.5;
    padding: 5px;
    font-size: 60px;
   }

.autor-feedback{
    font-family: "oswald";
}

.autor {
    border-top: solid 1px rgb(187, 187, 187);
    border-bottom: solid 1px rgb(187, 187, 187);
}

.logo {
    width: 85px;
    height: 65px;
}

.disabled {
    filter:contrast(10%)
}

/*************** FOOTER ****************/

