@font-face {
    font-family: "oswald";
    src: url("../fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: "courgette";
    src: url("../fonts/Courgette-Regular.ttf");
}

/*************** HEADER ****************/

.image {
    background-image: url("../img/team/team.jpg");
}

main img {
    height: 250px;
    min-height: 150px;
    width: 250px;
    min-width: 150px;
}

main p {
    font-family: "oswald";
    color: gray;
}
/**************** MAIN *****************/



/*************** FOOTER ****************/
